body {
    background-color: #4C5973;
}

#container {
    background-color: #ecff3c;
    width: 900px;
    margin: 20px auto;
    border-radius: 20px;
}

header {
    padding: 20px 0;
    background-color: #99c7f2;
    border-radius: 20px 20px 0 0;
}

header img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ecff3c;
}

nav {
    background-color: #ecff3c;
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #99c7f2;
    height: 50px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 50px;
    color: #4C5973;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    margin: 0 10px;
}

nav a:hover {
    background-color: #4C5973
    color:#CEF299;
}

main {
    background-color: #99c7f2;
    padding: 20px;
    margin: 0 20px 20px 20px;

}

main h2 {
    text-align: center;
    color: #4C5973;
    font-size: 2em;
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #4C5973;
    padding: 20px;
    border-radius: 20px;
}
footer {
    background-color: #99c7f2;
    padding: 40px 0;
    color: #ecff3c;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


.active {
    background-color: #4C5973
    color:#CEF299;
}

.pro_head {
    text-align: center;
    color: #ecff3c;
    font-size: 1.5em;
}